<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wed Knot Craft</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='images/hlogo.png') }}" alt="Logo">
      <p >Cherish By </p>
      <h2><span>Wed<br> Knot <br>Craft</span></h2>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <button><i class="fas fa-search"></i></button>
    </div>

    <div class="icons">
      {% if not current_user.is_authenticated %}
  <a href="{{ url_for('register') }}" title="Register">
    <i class="fas fa-user"></i>
  </a>
{% endif %}

<!-- Wishlist icon (always visible) -->
<a href="{{ url_for('wishlist') }}" title="Wishlist">
  <i class="fas fa-heart"></i>
</a>
<a href="{{ url_for('register') }}" title="Register"><i class="fas fa-shopping-cart"><span class="badge">1</span></i>
    </a></div>
  </header>

  <nav class="main-menu">
    <ul class="list">
<li><a href="{{ url_for('home') }}">Home</a></li>

      
      <li class="dropdown">
        <a href="{{ url_for('wedding_cards') }}">Wedding Invitation</a>
        <ul class="dropdown-content">
          <li>Hindu Wedding Cards</li>
          <li>Christian Wedding Cards</li>
          <li>Muslim Wedding Cards</li>
          <li>Exclusive Cards</li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="#">Special occasions</a>
        <ul class="dropdown-content">
          <li>Birthday Invitations</li>
          <li>Puberty Cards</li>
          <li>Luxury Invitations</li>
          <li>Ear Boring Cards</li>
          <li>Engagement Cards</li>
          <li>House Warming</li>
          <li>Anniversary Cards</li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Theme Cards</a>
        <ul class="dropdown-content">
          <li>Beach Theme Cards</li>
          <li>Bride Theme Cards</li>
          <li>Box Cards</li>
          <li>Single Sheet Cards</li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Scroll Invitation</a>
        <ul class="dropdown-content">
          <li>Small Size Scroll</li>
          <li>Box Scroll</li>
          <li>Only Scroll</li>
          <li>High End Scroll</li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Digital Invitation</a>
        <ul class="dropdown-content">
          <li>Whatsapp Cards</li>
          <li>Save the Date Cards</li>
        </ul>
      </li>
    </ul>
  </nav>
  {% block content %}{% endblock %}
   {% include 'footer.html' %}
</body>

</html>
